  .InputLabel {
    margin-bottom: 10px;
    font-size: x-large;
    align-self: center;
  }
  .FormLabel {
    margin-bottom: 10px;
    align-self: center;
  }
  .button-submit {
    margin: 20px 0px 20px 0px;
    align-self: center;
  }
  .Login {
    padding: 40px 0;
    width: 300;

  }

  .Login form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 250px;
    border: black;
    border-style: solid;
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
