  .InputLabel {
    margin-bottom: 10px;
    font-size: x-large;
  }
  .FormLabel {
    margin-bottom: 10px;
  }
  .button-submit {
    margin-top: 20px;
  }
  .Login {
    padding: 60px 0;
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  .Login form {
    margin: 0 auto;
    max-width: 200px;
    
  }
