.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}

.navbar-logo {
  justify-self: start;
}
.NavBarItems {
  display: flex;
  flex-direction: row;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 2em;
  list-style: none;
  text-align: center;
}
