.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  background-color: lightgreen;
  list-style: none;
}
.nav-items {
  display: grid;

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2em;
  text-align: center;
  // flex-direction: row;
}

.navbar-logo {
  justify-content: left;
}

.NavBarItems {
  display: flex;
  padding: 2rem;
}

.nav-bar-actions {
  justify-content: flex-end;
  padding: 2rem;
}

.nav-menu {
  text-decoration: none;
  list-style: none;
}

a.nav-link {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}
