@import './palette';

.button {
  border-radius: 1rem;
  border: 0;
  font-size: 0.8rem;
  height: 2rem;
  line-height: 1.2rem;

  width: 8rem;
  border: 1px solid black;
  color: rgb(36, 36, 29);
  margin: 1rem;
  background-color: transparent;

  &--default {
    @extend .button;
    background-color: $button-default;
  }
  &--default:hover {
    background-color: $button-default-hover;
  }

  &--submit {
    @extend .button;
    background-color: $button-confirm;
    transition: 0.3s;
  }
  &--submit:hover {
    background-color: $button-confirm-hover;
  }

  &--cancel {
    @extend .button;
    background-color: $button-cancel;
    transition: 0.3s;
  }
  &--cancel:hover {
    background-color: $button-cancel-hover;
  }

  &--welcome {
    @extend .button;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-60%, -50%);

    border: 3px solid white;
    background-color: rgba($color: #000000, $alpha: 0);

    z-index: 2;
    transition: 0.3s;
  }
  &--welcome:hover {
    box-shadow: inset 0 0 10px #ff55f7, 0 0 20px #ff55f7;
  }

  &:disabled {
    border-color: rgb(92, 86, 86);
    background-color: $button-disabled;
    color: gray;
    opacity: 0.7;
  }
  &:focus {
    outline: none;
  }
}
