@import 'mixins';

.form {
  @include center-in-page;

  background-color: white;
  width: 45%;
  min-width: 30%;

  font-size: 1.2rem;
  line-height: 1.7rem;
  border-radius: 25px;

  padding: 40px 0;
  width: 300;

  z-index: 6;

  box-shadow: 0px 0px 10px rgb(0,0,0);
  
  &--login {
    @include center-in-parent;
    flex-direction: column;
  }

  &--register {
    @include center-in-parent;
    flex-direction: column;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0;
    padding: 0.5rem;

    align-self: center;
    border-radius: 25px;
    border: 1px solid rgb(146, 146, 146);
    
  }
  input:focus {
    outline: none;
  }
}

.screen {
  z-index: 5;
  background-color: rgba(136, 136, 136, 0.363);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}