@import './palette';

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  background-color: $nav-bar-color;
  list-style: none;
  box-shadow: 0px 0px 20px $nav-bar-underglow;
  z-index: 3;

  p,
  button {
    padding: 0;
    margin: 0;
  }
  p:hover {
    cursor: default;
  }

  .nav-menu {
    display: flex;
  }

  .navbar-logo {
    justify-content: left;
    max-width: 100px;
    padding-top: 6px;
  }

  .nav-bar-actions {
    justify-content: flex-end;
  }

  .nav-item {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    margin-right: 1.5rem;
  }

  a.nav-link {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .nav-button {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    // text-decoration: none;
    border: none;
    background-color: white;
    outline: none;
    &:hover {
      cursor: pointer;
      text-shadow: 0px 0px 20px $nav-link-hover-glow;
    }
  }
}

.sticky {
  position: sticky;
  top: 0;
}
