.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  background-color: white;
  list-style: none;
  z-index: 3;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-items {
  display: grid;

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2em;
  text-align: center;
}

.navbar-logo {
  justify-content: left;
  max-width: 100px;
}

.navBarItems {
  display: flex;
  padding: 1rem 1rem;
}

.nav-bar-actions {
  justify-content: flex-end;
}

.nav-menu {
  text-decoration: none;
  list-style: none;
}

a.nav-link {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}
