.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  background-color: white;
  list-style: none;
  box-shadow: 0px 0px 20px rgba(54, 165, 255, 0.781);
  z-index: 3;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-items {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2em;
  text-align: center;
  margin-top: none;
}

.navbar-logo {
  justify-content: left;
  max-width: 100px;
}

.navBarItems {
  display: flex;
  padding: 1rem 1rem;
}

.nav-bar-actions {
  justify-content: flex-end;
}

.nav-menu {
  text-decoration: none;
  list-style: none;
}

a.nav-link {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-button{
  font-family: 'Source Code Pro', monospace;
  font-size: 2rem;
  text-decoration: none;
  border: none;
  background-color: white;
}