@import './palette';

.result-box {
  width: 100%;
  padding: 1.8rem;
  box-sizing: border-box;
  margin: 0;

  .result-header {
    text-align: center;
  }

  .button-submit {
    text-align: center;
  }

  button {
    background-color: $button-default;
    margin: 0.5rem;
  }

  button:hover {
    background-color: $button-default-hover;
  }

  .result-list {
    margin-top: 0;
  }
}
