@import './palette';

.search-box {
  width: 100%;
  padding: 1.8rem;
  box-sizing: border-box;
  margin: 0;

  h1 {
    margin: 2rem 0 2rem 0;
    text-align: center;
  }
  h3 {
    text-align: center;
  }

  label {
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-size: x-large;
    align-self: center;
  }
  input[type='text'] {
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0;
    padding: 0.5rem;

    align-self: center;
    border-radius: 25px;
    border: none;
  }
  input:focus {
    outline: none;
  }
  button {
    display: block;
    margin: 1rem auto 0 auto;
  }
  button:hover:enabled {
    background-color: $button-default-hover;
  }
}
