.search-box {
  width: 100%;
  padding: 1.8rem;
  box-sizing: border-box;
  margin: 0;

  h1 {
    margin: 2rem 0 2rem 0;
    text-align: center;
  }

  label {
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-size: x-large;
    align-self: center;
  }
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0;
    padding: 0.5rem;

    align-self: center;
    border-radius: 25px;
    border: 1px solid rgb(146, 146, 146);
    
  }
  input:focus {
    outline: none;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid rgb(146, 146, 146);
    padding: 1rem;
    border-radius: 20px;
    display: block;
    position: relative;
    margin: 1rem auto;

    &:active, &:checked:active {
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }
    
    &:checked {
      background-color: #0000004b;
      border: 1px solid #adb8c0;
      color: #000000;
    }
    &:hover {
      cursor: pointer;
    }
  }
  button {
    display: block;
    margin: 1rem auto 0 auto;
  }
}