.button, .button--submit, .button--cancel, .button--welcome {
  border-radius: 1rem;
  border: 0;
  font-size: 0.8rem;
  height: 2rem;
  line-height: 1.2rem;
  width: 8rem;
  border: 1px solid black;
  color: #24241d;
  background-color: transparent;
  margin: 1rem;
}

.button--submit {
  transition: 0.3s;
}

.button--submit:hover {
  background-color: #A9F5A9;
}

.button--cancel {
  transition: 0.3s;
}

.button--cancel:hover {
  background-color: #F5A9A9;
}

.button--welcome {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-60%, -50%);
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  transition: 0.3s;
}

.button--welcome:hover {
  box-shadow: inset 0 0 10px #ff55f7, 0 0 20px #ff55f7;
}

.button:disabled, .button--submit:disabled, .button--cancel:disabled, .button--welcome:disabled {
  border-color: #5c5656;
  background-color: #f3f0f0;
  color: gray;
  opacity: 0.7;
}

.button:focus, .button--submit:focus, .button--cancel:focus, .button--welcome:focus {
  outline: none;
}
