.map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  height: calc(100vh - 150px);
}

.marker {
  width: auto;
  height: 30px;
}
