.result-box {
  width: 100%;
  padding: 1.8rem;
  box-sizing: border-box;
  margin: 0;
}

.result-box .result-header {
  text-align: center;
}

.result-box .button-submit {
  text-align: center;
}

.result-box button {
  background-color: #ffbb00;
  margin: 0.5rem;
}

.result-box button:hover {
  background-color: #ce9700;
}

.result-box .result-list {
  margin-top: 0;
}
