.result-box {
  width: 100%;
  padding: 1.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.result-box .result-header {
  text-align: center;
}

.result-box .button-submit {
  text-align: center;
}

.result-box button {
  margin: 0.5rem;
}

.result-box button:hover {
  background-color: rgba(54, 165, 255, 0.781);
}

.result-box .result-list {
  margin-top: 0;
}
