.search-box {
  width: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.search-box h1 {
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.search-box label {
  margin-bottom: 10px;
  padding: 0 1rem;
  font-size: x-large;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search-box input {
  margin-bottom: 10px;
  padding: 0 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
