.search-box {
  width: 100%;
  padding: 1.8rem;
  box-sizing: border-box;
  margin: 0;
}

.search-box h1 {
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.search-box h3 {
  text-align: center;
}

.search-box label {
  margin-bottom: 1rem;
  padding: 1rem 0;
  font-size: x-large;
  align-self: center;
}

.search-box input[type='text'] {
  width: 100%;
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 0.5rem;
  align-self: center;
  border-radius: 25px;
  border: none;
}

.search-box input:focus {
  outline: none;
}

.search-box button {
  display: block;
  margin: 1rem auto 0 auto;
}

.search-box button:hover:enabled {
  background-color: #ce9700;
}
